@model IEnumerable<DataAccessLayer.User>

@{
    ViewBag.Title = "User Detail";
}

<button id="addButton" class="btn btn-primary">Add</button>
<h4 class="text-center text-uppercase">List of user</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="userTableBody">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
                <td>
                    <button class="btn btn-warning editButton" data-id="@user.Id">Edit</button>
                    <button class="btn btn-danger deleteButton" data-id="@user.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalContainer">
    <!-- Partial view content will load here -->
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addButton').click(function () {
            $.get('/Home/Create', function (data) {
                $('#modalContainer').html(data);
                $('#modalContainer .modal').modal('show');
            });
        });

        $('.editButton').click(function () {
            var id = $(this).data('id');
            $.get('/Home/Edit', { id: id }, function (data) {
                $('#modalContainer').html(data);
                $('#modalContainer .modal').modal('show');// show modal on success
            });
        });

        $('.deleteButton').click(function () {
            if (confirm('Are you sure you want to delete this record?')) {
                var id = $(this).data('id');
                $.post('/Home/Delete', { id: id }, function (data) {
                    if (data.success) {
                        location.reload(); // Reload page to update grid
                    }
                });
            }
        });

        $(document).on("submit", "#userForm", function (event) {
            event.preventDefault(); // Prevent traditional form submission

            $.ajax({
                url: '@Url.Action("Save", "Home")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        $("#userModal").modal("hide"); // Close modal on success
                        location.reload(); // Reload page to update grid
                    } else {
                        alert(response.message);
                    }
                }
            });
        });

        $(document).on('change', '#StateId', function () {
            var stateId = $(this).val();
            if (stateId != "") {
                $.get('/Home/GetCitiesByState', { stateId: stateId }, function (data) {
                    var cityDropdown = $('#CityId');
                    cityDropdown.empty();
                    cityDropdown.append(new Option("Select City", ""));
                    $.each(data, function (index, item) {
                        cityDropdown.append(new Option(item.CityName, item.Id));
                    });
                });
            } else {
                var cityDropdown = $("#CityId");
                cityDropdown.empty();
                cityDropdown.append(new Option("Select City", ""));
            }
        });
    });</script>